/*! destyle.css v4.0.1 | MIT ライセンス | https://github.com/nicolas-cusan/destyle.css */

/* ボックスモデルをリセットし、境界線を設定する */
/* ============================================= */

*,
：：前に、
：：後 {
  ボックスのサイズ: 境界線ボックス;
  境界線のスタイル: solid;
  境界線の幅: 0;
  最小幅: 0;
}

/* 書類 */
/* ============================================= */

/**
 * 1. すべてのブラウザで行の高さを修正します。
 * 2. iOS で向きが変わった後にフォントサイズが調整されないようにします。
 * 3. iOS のリンク上の灰色のオーバーレイを削除します。
 */

html {
  行の高さ: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: 透明; /* 3*/
}

/* セクション */
/* ============================================= */

/**
 * すべてのブラウザで余白を削除します。
 */

体 {
  マージン: 0;
}

/**
 * IE で `main` 要素を一貫してレンダリングします。
 */

主要 {
  表示: ブロック;
}

/* 垂直リズム */
/* ============================================= */

p,
テーブル、
引用ブロック、
住所、
前、
iframe、
形状、
形、
ダウンロード{
  マージン: 0;
}

/* 見出し */
/* ============================================= */

h1,
h2,
h3,
h4,
h5,
h6 {
  フォントサイズ: 継承;
  フォントの太さ: 継承;
  マージン: 0;
}

/* リスト（列挙） */
/* ============================================= */

ウル、
オル {
  マージン: 0;
  パディング: 0;
  リストスタイル: なし;
}

/* リスト（定義）*/
/* ============================================= */

dt {
  フォントの太さ: 太字;
}

dd {
  左マージン: 0;
}

/* コンテンツのグループ化 */
/* ============================================= */

/**
 * 1. Firefox で正しいボックス サイズを追加します。
 * 2. EdgeとIEでオーバーフローを表示します。
 */

時間 {
  ボックスサイズ: コンテンツボックス; /* 1 */
  高さ: 0; /* 1 */
  オーバーフロー: 表示; /* 2 */
  上の境界線の幅: 1px;
  マージン: 0;
  クリア: 両方;
  色: 継承;
}

/**
 * 1. すべてのブラウザでのフォントサイズの継承とスケーリングを修正しました。
 * 2. すべてのブラウザで奇数の「em」フォント サイズを修正します。
 */

前 {
  フォントファミリー: monospace, monospace; /* 1 */
  フォントサイズ: 継承; /* 2 */
}

住所 {
  フォントスタイル: 継承;
}

/* テキストレベルのセマンティクス */
/* ============================================= */

/**
 * IE 10 のアクティブ リンクの灰色の背景を削除します。
 */

ア{
  背景色: 透明;
  テキスト装飾: なし;
  色: 継承;
}

/**
 * 1. Chrome 57で下の境界線を削除する-
 * 2. Chrome、Edge、IE、Opera、Safari で正しいテキスト装飾を追加します。
 */

abbr[タイトル] {
  テキスト装飾: 下線（点線）; /* 2 */
}

/**
 * Chrome、Edge、Safari で正しいフォントの太さを追加します。
 */

b、
強い {
  フォントの太さ: 太字;
}

/**
 * 1. すべてのブラウザでのフォントサイズの継承とスケーリングを修正しました。
 * 2. すべてのブラウザで奇数の「em」フォント サイズを修正します。
 */

コード、
KBD、
サンプル {
  フォントファミリー: monospace, monospace; /* 1 */
  フォントサイズ: 継承; /* 2 */
}

/**
 * すべてのブラウザで正しいフォント サイズを追加します。
 */

小さい {
  フォントサイズ: 80%;
}

/**
 * `sub` および `sup` 要素が行の高さに影響を与えないようにします。
 * すべてのブラウザ。
 */

サブ、
すする {
  フォントサイズ: 75%;
  行の高さ: 0;
  位置: 相対的;
  垂直位置合わせ: ベースライン;
}

サブ{
  下: -0.25em;
}

すする {
  上: -0.5em;
}

/* 置き換えられたコンテンツ */
/* ============================================= */

/**
 * 垂直方向の位置合わせの問題を防止します。
 */

svg,
画像、
埋め込み、
物体、
iframe {
  垂直位置揃え: 下;
}

/* フォーム */
/* ============================================= */

/**
 * フォーム フィールドをリセットしてスタイル設定可能にします。
 * 1. 特に iOS のシステム間でフォーム要素をスタイル設定可能にします。
 * 2. 親からテキスト変換を継承します。
 */

ボタン、
入力、
optgroup、
選択、
テキストエリア {
  -webkit-appearance: なし; /* 1 */
  外観：なし;
  垂直位置揃え: 中央;
  色: 継承;
  フォント: 継承;
  背景: 透明;
  パディング: 0;
  マージン: 0;
  境界線の半径: 0;
  テキスト配置: 継承;
  テキスト変換: 継承; /* 2 */
}

/**
 * クリック可能な要素のカーソルを修正します。
 */

ボタン、
[type="button"],
[タイプ="リセット"],
[type="submit"] {
  カーソル: ポインタ;
}

ボタン:無効、
[type="button"]:無効,
[type="reset"]:無効,
[type="submit"]:無効{
  カーソル: デフォルト;
}

/**
 * Firefox のアウトラインを改善し、入力要素とボタンのスタイルを統一します。
 */

:-moz-フォーカスリング {
  アウトライン: 自動;
}

選択:無効{
  不透明度: 継承;
}

/**
 * パディングを削除
 */

オプション {
  パディング: 0;
}

/**
 * 非表示にリセット
 */

フィールドセット {
  マージン: 0;
  パディング: 0;
  最小幅: 0;
}

伝説 {
  パディング: 0;
}

/**
 * Chrome、Firefox、Opera で正しい垂直配置を追加します。
 */

進捗 {
  垂直位置合わせ: ベースライン;
}

/**
 * IE 10 以降のデフォルトの垂直スクロールバーを削除します。
 */

テキストエリア {
  オーバーフロー: 自動;
}

/**
 * Chrome の増分ボタンと減分ボタンのカーソル スタイルを修正しました。
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  高さ: 自動;
}

/**
 * Safari のアウトライン スタイルを修正しました。
 */

[タイプ="検索"] {
  アウトラインオフセット: -2px; /* 1 */
}

/**
 * macOS 上の Chrome および Safari で内側のパディングを削除します。
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: なし;
}

/**
 * 1. iOS および Safari でクリック可能なタイプのスタイルを設定できない問題を修正しました。
 * 2. フォントの継承を修正しました。
 */

::-webkit-ファイルアップロードボタン {
  -webkit-appearance: ボタン; /* 1 */
  フォント: 継承; /* 2 */
}

/**
 * Firefoxの外観を修正
 */
[タイプ= "数値"] {
  -moz-appearance: テキストフィールド;
}

/**
 * クリック可能なラベル
 */

ラベル[for] {
  カーソル: ポインタ;
}

/* 相互の作用 */
/* ============================================= */

/*
 * Edge、IE 10+、Firefox で正しい表示を追加します。
 */

詳細 {
  表示: ブロック;
}

/*
 * すべてのブラウザで正しい表示を追加します。
 */

まとめ {
  表示: リスト項目;
}

/*
 * 編集可能なコンテンツのアウトラインを削除します。
 */

[コンテンツ編集可能]:フォーカス{
  アウトライン: 自動;
}

/* テーブル */
/* ============================================= */

/**
1. すべての Chrome と Safari でテーブル境界線の色の継承を修正します。
*/

テーブル {
  境界線の色: 継承; /* 1 */
  境界線の折りたたみ: 折りたたみ;
}

キャプション {
  テキスト配置: 左;
}

td、
番目 {
  垂直位置揃え: 上;
  パディング: 0;
}

番目 {
  テキスト配置: 左;
  フォントの太さ: 太字;
}
